mackerel:
  x-api-key: ****
  host-id: ****
snmp:
  addr: 0.0.0.0
  port: 9162
  community: public
mib:
  directory:
    - "/var/lib/snmp/mibs/ietf/"
  modules:
    - SNMPv2-MIB
    - IF-MIB
#   - CISCO-CONFIG-MAN-MIB
#   - CISCO-GENERAL-TRAPS
#   - CISCO-SYSLOG-MIB
debug: false
trap:
# - ident: .1.3.6.1.4.1.9.9.41.2.0.1
#   format: '[{{ addr }}] {{ read "CISCO-SYSLOG-MIB::clogHistFacility" }} is msg:{{ read "CISCO-SYSLOG-MIB::clogHistMsgName" }} text:{{ read "CISCO-SYSLOG-MIB::clogHistMsgText" }}'
  - ident: .1.3.6.1.6.3.1.1.5.1
    format: '{{ addr }} is cold started'
  - ident: .1.3.6.1.6.3.1.1.5.2
    format: '{{ addr }} is warm started'
  - ident: .1.3.6.1.6.3.1.1.5.3
    format: '{{ addr }} {{ read "IF-MIB::ifDescr" }} is linkdown'
  - ident: .1.3.6.1.6.3.1.1.5.4
    format: '{{ addr }} {{ read "IF-MIB::ifDescr" }} is linkup'
encoding:
# - addr: 127.0.0.1
#   charset: shift-jis
