[Unit]
Description=SNMP Trap Handler for Mackerel
Documentation=https://github.com/yseto/sabatrapd
After=network.target

[Service]
EnvironmentFile=-%DESTETCDIR%/sabatrapd.env
ExecStart=%DESTBINDIR%/sabatrapd -conf %DESTETCDIR%/sabatrapd.yml

[Install]
WantedBy=multi-user.target
